{% load static %}

<div class="chartjs-wrapper">
    {{ home_average_cars_used_price_radarchart.data|safe }}
    <canvas id="average_cars_used_enginepower" class="chartjs" width="320" height="320"></canvas>
    <script>new Chart(document.getElementById("average_cars_used_enginepower"), {
        "type": "radar",
        "data": {
            "labels": {{ home_average_cars_used_info_radarchart.labels|safe }},
            "datasets": [{
                "label": "(used) Average Engine Power",
                "data": {{ home_average_cars_used_info_radarchart.data_enginepower|safe }},
                "fill": true,
                "backgroundColor": "rgba(255, 99, 132, 0.2)",
                "borderColor": "rgb(99,161,255)",
                "pointBackgroundColor": "rgb(99,161,255)",
                "pointBorderColor": "#fff",
                "pointHoverBackgroundColor": "#fff",
                "pointHoverBorderColor": "rgb(99,161,255)",
                "pointRadius": 5
            }]
        },
        "options": {"elements": {"line": {"tension": 0, "borderWidth": 3}}}
    });</script>
</div>
