{% load static %}

<div class="chartjs-wrapper">
    {{ home_average_cars_used_price_radarchart.data|safe }}
    <canvas id="average_cars_used_enginecapacity" class="chartjs" width="500" height="500"></canvas>
    <script>new Chart(document.getElementById("average_cars_used_enginecapacity"), {
        "type": "radar",
        "data": {
            "labels": {{ home_average_cars_used_info_radarchart.labels|safe }},
            "datasets": [{
                "label": "(used) Average Engine Capacity",
                "data": {{ home_average_cars_used_info_radarchart.data_enginecapacity|safe }},
                "fill": true,
                "backgroundColor": "rgba(255,99,132,0.2)",
                "borderColor": "rgb(255,161,99)",
                "pointBackgroundColor": "rgb(255,161,99)",
                "pointBorderColor": "#fff",
                "pointHoverBackgroundColor": "#fff",
                "pointHoverBorderColor": "rgb(255,161,99)",
                "pointRadius": 5
            }]
        },
        "options": {"elements": {"line": {"tension": 0, "borderWidth": 3}}}
    });</script>
</div>
