{% extends 'car_prices_tool/base.html' %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
    </head>
    <body>

    <div class="d-flex justify-content-center">
        <div class="jumbotron jumbotron-fluid vertical-center">
            <div class="container">

                {% if message %}
                    <h1 class="display-4">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </h1>
                {% endif %}
                <br><br>
                {% if user_rank_name == 'Free' %}
                    <p class="lead">
                        Hello! If you would like to purchase premium status for your account please click here:
                    </p>
                    <form action="{% url 'go_premium' %}" method="post">
                        {% csrf_token %}
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-primary btn-lg">GO PREMIUM!</button>
                        </div>
                    </form>
                {% else %}
                    <p class="lead">
                        It seems that you already have our premium account. Thank you!
                    </p>
                {% endif %}

            </div>
        </div>
    </div>

    </body>
    </html>

{% endblock %}