{% extends 'car_prices_tool/base.html' %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Car Prices Tool</title>
    </head>
    <body>
    <div class="jumbotron jumbotron-fluid vertical-center">
        <div class="container">
            <h1 class="display-4">Welcome on Car Prices Tool website!</h1>
            <p class="lead">
                Hi! Aren't you tired with searching for prices and comparisons of cars that you are interest in?
                Looking for best price/mileage/production year proportions?
                <br><br>
                All that tedious research and wondering how much cheaper it would be to select car that is 5
                years older but mileage is better?
                <br><br>
                Well. No more! With our tool you will be able to check all those information in just few clicks.
                Check out our <b>small</b> demo here and please tell us ...
            </p>
            <br><br>
            <div class="form-group">
                <form method="post" id="SearchForm" data-models-url="{% url 'ajax_load_models' %}" novalidate>
                    {% csrf_token %}
                    <h1 class="display-4">What car are you looking for?</h1>

                    {% if quota_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ quota_error }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-sm">
                            {{ form.make }}
                            {{ form.make.errors }}
                        </div>
                        <div class="col-sm">
                            {{ form.model }}
                            {{ form.model.errors }}
                        </div>
                        <div class="col-sm">
                            <ul id="parent">

                                {% for choice in form.state %}
                                    <li>
                                        {{ choice }}
                                        {{ choice.errors }}
                                    </li>
                                {% endfor %}

                            </ul>
                            <br>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success btn-lg">Search!</button>&nbsp;&nbsp;&nbsp;
                                <button type="reset" class="btn btn-danger btn-lg">Start over</button>
                            </div>
                        </div>
                    </div>
                </form>
                {#Ajax call for loading up models based on selected make.#}
                <script>
                    $("#id_make").change(function () {
                        const url = $("#SearchForm").attr("data-models-url");
                        const makeId = $(this).val();

                        $.ajax({
                            url: url,
                            data: {
                                'make': makeId
                            },
                            success: function (data) {
                                $("#id_model").html(data);
                            }
                        });

                    });
                </script>
            </div>
            <br><br>
            {% if not user.is_authenticated %}
                <p class="lead">If you are ready for <b>full</b> version, please
                    <a href="{% url 'signup' %}" role="button">Create Free Account Here!</a>
                    {% else %}
                <p class="lead">Go for <b>full</b> version
                    <a href="{% url 'search' %}" role="button">here!</a></p>
            {% endif %}
        </div>
    </div>
    </body>
    </html>

{% endblock %}
