{% extends 'car_prices_tool/base.html' %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Car Prices Tool - Pricing</title>
    </head>
    <body>
    <div class="jumbotron jumbotron-fluid vertical-center">
        <div class="container">
            <main class="container">

                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h1 class="display-4">Car Prices Tool Pricing</h1>
                    <p class="lead">Look at our great prices! We have super promotions for both Premium and API
                        access! We are so crazy that we are giving it away for free!!!</p>
                </div>

                <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 fw-normal">Free</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ month</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>10</b> searches / day</li>
                                    <li>Standard Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 fw-normal">Premium</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/
                                    month</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>100</b> searches / day</li>
                                    <li>Premium Support</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 fw-normal">API Access</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ month</small>
                                </h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><b>API Key</b></li>
                                    <li><b>500</b> searches / day</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            {% if not user.is_authenticated %}
                <div style="text-align: center;">
                    <a class="btn btn-success btn-lg" href="{% url 'signup' %}" role="button">Sign Up Now!</a>
                </div>
            {% endif %}

        </div>
    </div>

    </body>
    </html>

{% endblock %}
