{% extends 'car_prices_tool/base.html' %}
{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div>


        <div class="form-group">
            <form method="post" id="SearchForm" data-models-url="{% url 'ajax_load_models' %}" novalidate>

                {% csrf_token %}
                <!--Main jumbotron with all content inside-->
                <div class="jumbotron jumbotron-fluid vertical-center">
                    <!--Main container-->
                    <div class="container">
                        <h1 class="display-4">What car are you looking for?</h1>

                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                There was an error in a form. Please look below and correct them.
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm">


                                {#                                {{ form.make.label }}:#}
                                {{ form.make }}
                                {{ form.make.errors }}
                            </div>
                            <div class="col-sm">

                                {#                                        {{ form.model.label }}:#}
                                {{ form.model }}
                                {{ form.model.errors }}

                            </div>
                            <div class="col-sm">
                                <ul id="parent">
                                    {% for choice in form.state %}
                                        <li>

                                            {{ choice }}
                                            {{ choice.errors }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <br>
                            </div>

                            <p>
                                <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse"
                                        data-target="#collapseExample"
                                        aria-expanded="false" aria-controls="collapseExample">
                                    Optional filters
                                </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.offer_type.errors }}
                                        {{ form.offer_type.label }}:
                                        {{ form.offer_type }}
                                    </div>
                                </div>
                                <hr>
                                Mileage:
                                <div class="row">

                                    <div class="col-sm-4">
                                        {{ form.mileage_less_more.errors }}
                                        {{ form.mileage_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.mileage.errors }}
                                        {{ form.mileage }}
                                    </div>
                                </div>
                                <hr>
                                Production year:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.production_year_less_more.errors }}
                                        {{ form.production_year_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.production_year.errors }}
                                        {{ form.production_year }}
                                    </div>
                                </div>
                                <hr>
                                Engine capacity:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.engine_capacity_less_more.errors }}
                                        {{ form.engine_capacity_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.engine_capacity.errors }}
                                        {{ form.engine_capacity }}
                                    </div>
                                </div>
                                <hr>
                                Engine power:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.engine_power_less_more.errors }}
                                        {{ form.engine_power_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.engine_power.errors }}
                                        {{ form.engine_power }}
                                    </div>
                                </div>
                                <hr>
                                Price:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.price_less_more.errors }}
                                        {{ form.price_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.price.errors }}
                                        {{ form.price }}
                                    </div>
                                    <div class="col-sm-4">
                                        <ul id="parent">
                                            {% for currency in form.price_currency %}
                                                <li>
                                                    {{ currency }}
                                                </li>
                                            {% endfor %}
                                            {{ form.price_currency.errors }}
                                        </ul>
                                        <br>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-success btn-lg">Search!</button>&nbsp;&nbsp;&nbsp;
                                    <button type="reset" class="btn btn-danger btn-lg">Start over</button>
                                </div>
                            </div>

                            <span style="font-size: 350%; ">&nbsp;&nbsp;●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●</span>

            </form>
        </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_make").change(function () {
            const url = $("#SearchForm").attr("data-models-url");  // get the url of the `load_cities` view
            const makeId = $(this).val();  // get the selected country ID from the HTML input

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'make': makeId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

    </body>
    </html>

{% endblock %}