{% extends 'car_prices_tool/base.html' %}
{% load static %}
{% load math_templatetags %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div>
        <div class="form-group">
            <form method="post" id="SearchForm" data-models-url="{% url 'ajax_load_models' %}" novalidate>
                {% csrf_token %}
                <div class="jumbotron jumbotron-fluid vertical-center">
                    <div class="container">
                        <br>
                        {% if user_rank.rank == 'Premium' %}
                            {% if last_user_searches < 100 %}
                                <h6>Available searches today: {{ available_searches }} <br>Your rank is premium!</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         aria-valuenow="{{ available_searches }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ available_searches }}%"></div>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    You exceeded your daily search quota. Please wait 24 hours or go API Pro!
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if user_rank.rank == 'APIPRO' %}
                            {% if last_user_searches < 500 %}
                                <h6>Available searches today: {{ available_searches }} <br>Your rank is API Pro!</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         aria-valuenow="{{ available_searches }}" aria-valuemin="0" aria-valuemax="100"
                                         style="width: {% multiply available_searches 0.2 %}%"></div>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    You exceeded your daily search quota. Please wait 24 hours.
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if not user_rank.rank %}
                            {% if last_user_searches < 10 %}
                                <h6>Available searches today: {{ available_searches }}</h6>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                         role="progressbar"
                                         aria-valuenow="{{ available_searches }}" aria-valuemin="0" aria-valuemax="10"
                                         style="width: {% multiply available_searches 10 %}%"></div>
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    You exceeded your daily search quota. Please wait 24 hours or consider upgrading you
                                    account.
                                </div>
                            {% endif %}

                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    There was an error in a form. Please look below and correct them.
                                </div>
                            {% endif %}
                        {% endif %}

                        <h1 class="display-4">What car are you looking for?</h1>

                        {% if quota_error %}
                            <div class="alert alert-danger" role="alert">
                                {{ quota_error }}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm">
                                {{ form.make }}
                                {{ form.make.errors }}
                            </div>
                            <div class="col-sm">
                                {{ form.model }}
                                {{ form.model.errors }}
                            </div>
                            <div class="col-sm">
                                <ul id="parent">

                                    {% for choice in form.state %}
                                        <li>
                                            {{ choice }}
                                            {{ choice.errors }}
                                        </li>
                                    {% endfor %}

                                </ul>
                                <br>
                            </div>

                            {% if not quota_error %}
                                <p>
                                    <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse"
                                            data-target="#collapseExample"
                                            aria-expanded="false" aria-controls="collapseExample">
                                        Optional filters
                                    </button>
                                </p>
                            {% endif %}

                            <div class="collapse" id="collapseExample">
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.offer_type.errors }}
                                        {{ form.offer_type.label }}:
                                        {{ form.offer_type }}
                                    </div>
                                </div>
                                <hr>

                                Mileage:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.mileage_less_more.errors }}
                                        {{ form.mileage_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.mileage.errors }}
                                        {{ form.mileage }}
                                    </div>
                                </div>
                                <hr>

                                Production year:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.production_year_less_more.errors }}
                                        {{ form.production_year_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.production_year.errors }}
                                        {{ form.production_year }}
                                    </div>
                                </div>
                                <hr>

                                Engine capacity:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.engine_capacity_less_more.errors }}
                                        {{ form.engine_capacity_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.engine_capacity.errors }}
                                        {{ form.engine_capacity }}
                                    </div>
                                </div>
                                <hr>

                                Engine power:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.engine_power_less_more.errors }}
                                        {{ form.engine_power_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.engine_power.errors }}
                                        {{ form.engine_power }}
                                    </div>
                                </div>
                                <hr>

                                Price:
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.price_less_more.errors }}
                                        {{ form.price_less_more }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.price.errors }}
                                        {{ form.price }}
                                    </div>
                                    <div class="col-sm-4">
                                        <ul id="parent">

                                            {% for currency in form.price_currency %}
                                                <li>
                                                    {{ currency }}
                                                </li>
                                            {% endfor %}

                                            {{ form.price_currency.errors }}
                                        </ul>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            {% if not quota_error %}
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-success btn-lg">Search!</button>&nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-danger btn-lg">Start over</button>
                                    </div>
                                </div>
                                <span style="font-size: 350%; ">&nbsp;&nbsp;●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;●</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {#Ajax call for loading up models based on selected make.#}
    <script>
        $("#id_make").change(function () {
            const url = $("#SearchForm").attr("data-models-url");
            const makeId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'make': makeId
                },
                success: function (data) {
                    $("#id_model").html(data);
                }
            });

        });
    </script>

    </body>
    </html>

{% endblock %}
